.header {
  margin: 0 -10px 0 0;
  height: 40px;
  border-bottom: 1px solid gainsboro;
}

.header_inner {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 30px;
}

.header_items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 2px;
}
