.header {
  margin: 0 -10px 0 0;
  height: 40px;
  border-bottom: 1px solid gainsboro;
}

.header_inner {
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.header_items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 4px;
}

.breadcrumb {
  margin-top: 15px;
}
