.stockDetailsCard {
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    h2 {
      margin-left: 16px;
      margin-bottom: 0;
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .buySection {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
  }

  .ant-typography {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
