.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.button_text {
  color: white;
}
