.container {
  border-radius: 8px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1000px 300px;
  grid-column-gap: 25px;
}

.details {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 15px;
  min-width: 1000px;
  width: 100%;
}

.stats {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.statsInner {
  padding: 15px;
  gap: 10px;
}

.details_search {
  display: flex;
  justify-content: center;
  align-items: center;
}
